body {
    font-family: 'Noto Sans TC', sans-serif;
    overflow-x:hidden;
}

html, body {
    /* 設定body高度為100% 拉到視窗可視的大小 */
    height: 100%;
}

.navbar .active {
    font-weight:bold;
    border: 1px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

footer::before {
    content: "©2019 Linya Studio.";
    color: white;
}

footer::after {
    content: " All Rights Reserved.";
    color: white;
}

footer {
    height: 50px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(5,5,5,.5);
    text-align: center;
    line-height: 50px; /* Vertically center the text there */
}

/* wrapper */

#wrapper {
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    transition: background-image 2.0s linear;
}

.intro {
    background-color: rgba(255,255,255,.8);
    z-index:99;
    height: 100%;
    width: 100%;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
